body {
    background: url('../images/bg.png') repeat;
    padding-top: 70px;
    padding-bottom: 30px;
}

#debug_panel {
    float: right;
    margin-right: 10px;
    position: relative;
    width: 250px;
    overflow: hidden;
}

#clear_log {
    position: absolute;
    bottom: 5px;
    left: 2px;
    height: 26px;
}

#debug {
    width:248px;
    height:650px;
    border:1px solid #BDBDBD;
    background-color: #000;
    color: #FFF;
}

.room .panel {
    border: 2px solid #FFF;
    background-color: #FF9900;
    color: #FFF;
    box-shadow: rgba(255,90,20,0.9) 0 0 0.3125em;
}

.room h3 {
    margin: 0;
    padding: 8px;
    font-size: 18px;
    overflow: hidden;
    border-bottom: 1px solid #FFF;
}

.room .goto {

}